{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body%}
<div class="flex items-center justify-center min-h-screen" >
    <div class="px-8 py-6 text-left bg-gray-100 shadow-lg">
<center>
<p class="p-6 font-bold text-2xl">Selamat datang!<br>
Untuk mengecek tingkat stress anda, silahkan klik tombol <br>"Mulai screening"!</p>
<img src="{{ url_for('static', filename='img/Meter.png') }}" width="300" height="auto">

    <a href="{{ url_for('pertanyaan_I')}}">
<input type="button" value="Mulai screening!" class="transition ease-in-out hover:scale-95 px-6 py-2 text-2xl place-items-center font-bold bg-blue-300 hover:bg-blue-500 rounded-full border-2 border-gray-400">
    </a>

</input>

</center>
    </div>
</div>
{% endblock %}